<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SE Railway | Internship</title>

    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD9/f0AAAAAADAwMAACAgIA////APj4+AAEBAQA+vr6APz8/AAPDw8AAQEBAP7+/gCysrIAAwMDAAAAAAAAAAAAEUoiIiIiNBERRLpERFFEERFES0RAdEQREUQRERERtBERShEREREUERFBRBERRBQREUEaEREdFBERQREREREUERFBFEFsyRQREUFEREREFBERQUREREQUERFBhEcUQBQREUARREQRZBERREERERtEERFEREEUREQREUREQxRERBHAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAA" rel="icon" type="image/x-icon" />
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" media="print" href="{{ url_for('static', filename='css/print.css') }}"/>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


</head>
<body>



<div id="box">
    <div id="a">
        <a href="http://www.ser.indianrailways.gov.in/view_section.jsp?lang=0&id=0,6,403"><img src="https://lh3.googleusercontent.com/fUSwsECX674tAOPCi5nAIMv2_ljtLvrjiSGXCrsYKDU_0cr9VDF-k1v7G47VN9gnqNLKrZrDdKCvB7E5r6QhNIPMqqHCHzRYrLaDpL_2x7NEkA28Cz1dCVfOOJ7reeAJIvGVUiwtrvpf58llfp-drH8KX9lBrboslxqx6UVS7dINyf4OK0ETkeOinJknGbo_UFsihUCctcQIvE7Yl0jcdoNz1tH8YJbZZypnwd-C-vxTdOS4J3LXsxezYaonaxYbQ9ECcgxPNndtEtJKFQEwJGGl97PClMAkr9aGWQEvHjWMxOFUwJ9vSVavxyy0dN-nuDqh7hRH-V7W80kOx56XpFHlMfpPCmM7m6R-Jt9aNd_xEYh3d7GjDXVlrTOlJ3miSyGWtoYISy3dN-8jxdrstr9IaPlx0IU83E1JI5H1hNCOa-U53aU_KqqW6LPAPhmpGQKSSOhu3JnGlBPdJMY_oY17soRK0XMJDeitgbdhNRlBhAA7vYLvoFsV-PQaU3QtjdEehyjMVpA4pNNB-_PnZu2hWhIj_TPbYWZRP2mLKn0I4B6hWXsQLmCqFK6j7flaJYB0cOaytILGcEy-xPlYFBxSDMvYNCTK9IXnmbnsLCe2nPz_SuVJdNvg_ZeObw=w1346-h142-no" class="print" width="100%" alt="railwayImage"></a>
    </div>

    <div id="b" style="overflow:hidden;background:white;"> </div>
</div>

    <!-- ------------------------------ -->
    {% block content %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>