{% extends "base.html" %}
{% block content %}
    <div id="top-filter-buttons" style="float:right;padding-right:13%;padding-top:3%">
        <a href="{{ url_for('overview_pending') }}"><button class="btn btn-primary">Show Only Pending</button></a>
        <a href="{{ url_for('overview_approved') }}"><button class="btn btn-primary">Show Accepted</button></a>
        <a href="{{ url_for('overview_all') }}"><button class="btn btn-primary">Show All</button></a>
    </div>

    <div class="container">
        <h1 class="">
            Hello <span>{{ email }}</span>
            <!-- <p><small class="text-muted"> These are the registered students...</small></p> -->
        </h1>
    </div>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Institute</th>
                  <th scope="col">Course</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                <tr>
                    <td><a href="/student_details/{{ student._id }}">{{ student.student_name }}</a></td>
                    <td>{{ student.institute }}</td>
                    <td>{{ student.course }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <small>End of student list.</small>
</div>

{% endblock %}