{% extends "base2.html" %}
{% block content %}

<!-- this page is displayed to the student while showing his data -->
<!--
    <div class="container">
        <img src="{{ url_for('send_image', filename=image_name) }}" alt="Student-Image" class="profile-image">
        <p>Name : {{ student.student_name }}</p>
        <p>Registered Email : {{ student.email }}</p>
        <p>Guardian's Name : {{ student.guardian_name }}</p>
        <p>Institute : {{ student.institute }}</p>
        <p>Course : {{ student.course }}</p>
        <p>Date of Registration : {{ student.created_date }} in GMT</p>
        <p>APPROVAL STATUS : {{ student.approval_status }}</p>
    </div>
-->

    <div class="container">

        <a href="{{ url_for('logout') }}"><button class="btn btn-primary" style="float:left;margin:5px;">Logout</button></a>
        

        <div style="float:left;padding:30px;" class="print">
            <h3><strong>Registration Number: {{ student.registration_no }}</strong></h3>
        </div>

        <div style="float:right;" class="print">
            <img src="{{ url_for('send_image', filename=image_name) }}" alt="Student-Image" class="profile-image"
        style="max-height:150px;max-width:150px;">
        </div>

        <table class="table print">
            <thead>
                <th>Feild</th>
                <th>Candidate's Detail</th>
            </thead>

            <tbody>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        {{ student.student_name }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        {{ student.email }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Guardian's Name
                    </td>
                    <td>
                        {{ student.guardian_name }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Institute
                    </td>
                    <td>
                        {{ student.institute }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Course
                    </td>
                    <td>
                        {{ student.course }}
                    </td>
                </tr>

                <tr>
                    <td>
                        Starting Date
                    </td>
                    <td>
                        {{ student.dos }}
                    </td>
                </tr>

                <tr>

                    <td>
                        Address for communication 
                    </td>
                    <td>
                        {{ student.address }}
                    </td>
                </tr>
                <tr>

                    <td>
                        Mobile Number
                    </td>
                    <td>
                        {{ student.mobile }}
                    </td>
                </tr>
               
                <tr>
                    <td>
                        Branch
                    </td>
                    <td>
                        {{ student.branch }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Remarks
                    </td>
                    <td>
                        {{ student.remarks }}
                    </td>
                </tr>
                 <tr>
                    <td>
                        Semester
                    </td>
                    <td>
                        {{ student.semester }}
                    </td>
                </tr>
                 <tr>
                    <td>
                        Year
                    </td>
                    <td>
                        {{ student.year }}
                    </td>
                </tr>
                 <tr>
                    <td>
                        Registration Date
                    </td>
                    <td>
                        {{ student.created_date }}
                    </td>
                </tr>
                <tr>

                    <td>
                        Approval Status
                    </td>
                    <td>
                        {{ student.approval_status }}
                    </td>
                </tr>

                {% if student.approval_status == "Rejected" %}
                
                    <tr>
                        <td>
                            Reason For Rejection
                        </td>
                        <td>
                            {{ student.reason }}
                        </td>
                    </tr>

                {% endif %}



            </tbody>
        </table>
        <a titlt="print screen" alt="Print Screen" onclick="window.print();" target="_blank" style="cursor: pointer;"><button class="btn btn-primary">Print This Page</button></a>
        
    </div>


    

{% endblock %}